<!-- info section -->
<section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info-logo">
            <h2>
              Mamadev.com
            </h2>
            <p>
              Sab ka Mangal Ho <br>
              Sab Ek Ho <br>
              Sab Nek Ho <br>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info-nav">
            <h4>
              Navigation
            </h4>
            <ul>
              <li>
                <a href="index.html">
                  Home
                </a>
              </li>
              <li>
                <a href="about.html">
                  About
                </a>
              </li>
              <li>
                <a href="service.html">
                  Activity
                </a>
              </li>
              <li>
                <a href="contact.html">
                  Contact Us
                </a>
              </li>
              <li>
                <a href="#">
                  Login
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info-contact">
            <h4>
              Contact Info
            </h4>
            <div class="location">
              <h6>
                Location
              </h6>
              <a href="">
                <img src="images/location.png" alt="">
                <span>
                 31, Bhojrajpara, Kumbharvada Gondal
                </span>
              </a>
            </div>
            <div class="call">
              <h6>
                Contact Number
              </h6>
              <a href="https://goo.gl/maps/xHskL4itaWohd5sY8">
                <img src="images/telephone.png" alt="">
                <span>
                  ( +01 84017 64141 )
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="discover">
            <h4>
              Social Media 
            </h4>
            <ul>
              <li>
                <a href="">
                  Youtube
                </a>
              </li>
              <li>
                <a href="">
                  Instagram

                </a>
              </li>
              <li>
                <a href="">
                  facebook
                </a>
              </li>
              <li>
                <a href="contact.html">
                  Goggle Map
                </a>
              </li>
            </ul>
           
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2023 All Rights Reserved By
      <a href="https://html.design/">Shree Mamadev Web Solution</a>
    </p>
  </section>
  <!-- footer section -->