
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h3 class=" ">
          ABOUT US
        </h3>
      </div>
      <br><br>
      <img src="images/Background8.jpg"  width="700px" alt="">
      <br><br> <br>

      <p class="h3">કળીયુગમાં શ્રી મામાદેવની ભકિત-પૂજા ઠેર-ઠેર થાય છે. ખુબજ બહોળા પ્રમાણમાં શ્રી મામાદેવનો ભકિત-પરિવાર પણ છે. પરંતુ મોટા ભાગના ભક્તજનોને શ્રી મામાદેવનછ ઓળખ બાબતે કે ઉત્પવતિ અંગે વિશેષ માહિતી ન હોઇ શિવપુરાણ અને સ્કંદદપુરાણના ઉલ્લે ખ મુજબ પ્રાચીનકાળમાં કનખલ ખાતે દક્ષ પ્રજાપતિ દ્વારા યોજાયેલ મહાયજ્ઞ પ્રસંગે પિતાને ત્યાં ઉપસ્થિત પુત્રી પાર્વતીજીએ જયારે યજ્ઞ પ્રસંગમાં પતિના સ્થાનને નોંધનલ આભાવ જોઇ જયારે પોતાનું બલિદાન આપે છે ત્યારે ક્રોધથી ભભૂકી ઉઠેલા ભોળાનાથે પોતાની જટાના એક પૂર્વભાગમાં થી એક અદ્દભુત વીર શક્તિને ઉત્પીન્ન કરી કે જેના થકી સમગ્ર યજ્ઞનો ધ્વંશ થયો એ વીર શકિત એટલે ભગવાન ભોળાનાથના બાળવ ગણો પૈકી એક વીરભદ્ર અને વીરમદ્ર એટલે જ શિવજીના સેનાપતિ અને કળીયુગમાં ભકતોના હજરાહજુર શ્રી મામાદેવ,
        <br><br><br><br>
        <img src="images/Oldphoto.jpg" height="500px" alt="" srcset=""> <br><br>
        <b><strong>ઈતિહાસ</strong></b> 
        <br><br><br><br>
        કળીયુગમાં હજરાજુર શ્રી મામાદેવને ભકતો પોતાના પવિત્ર કર્મો અને હૃદયની સાચી ભકિતથી પ્રસન્નશ કરી શકે છે. શ્રી મામાદેવના આશીર્વાદ મેળવી પોતાનું કલ્યાભણ સાધી શકે છે. આવા શ્રી મામાદેવ પવિત્ર વૃક્ષોમાંના એમ સમીવૃક્ષ (ખીજડો) માં બીરાજે છે</p>
        <br><br><br><br>
      </div>
  </section>
  <!-- end about section -->