   <div class="title">
        <img src="images/Background.jpg" width="500" height="500" alt="" srcset="">
    </div> 
    <div class="passage">
    <h1>  
       <Center> Mamadev Dhoddi Dhaja</Center></h1>
    <br><br>
    <p>Dhwaja Stambha, or Flag Pole, is an important feature of most South Indian Temples. Dhwaja Stambha is installed in front of the temple. Today,Dhwaja Stambhas are a permanent feature in many south Indian temples and are gold or silver plated or covered with copper or brass. The top portion of the Dhwaja Stambham has three horizontal perches or three branches pointing towards the Sanctum.
        
        It symbolizes righteousness,reputation and propriety or the Trimurtis – Vishnu, Brahma and Shiva. Usually, a Bali Peetam is located near to the Dhwaja Stambha and the Sanctum.
       
        Dhwaja Stambha is a tall post-like structure, which is referred to as the flag-mast of the deity of the temple. During festivities, the Dhwaja Stambha is decorated with different types of flags to commemorate and celebrate that particular event. The Dhwaja Stambha is present in a straight line from the deity, just before the Vahana of the deity, which is also in the same axial line.
        <br> <br>
        There is a widespread belief that the Dhwaja Stambha gives an idea to a devotee about the idol installed in thetemple and about the Vahana or Vehicle used by the deity. It also announces about a festival in a temple. 
    
        Flags are usually hoisted when there is an auspicious ceremonyor festival in the temple. Dhwaja Stambha, Bali Peetam and vehicle called vahanam of the presiding diety are situated facing the main deity. Bali Peetam is for offering  the offering is usually flowers and cooked rice.
        <br> <br>
        Hinduism, originally called Santana Dharma or Righteousness, is known more as a way of life than as religion. There is no single divine prophet responsible for its origin and development. Temple worship is an important part of the daily life of Hindus. They believe that the images or statues of the deities at the templeare equivalent to their permanent residence there.
        
        Most Hindu Temples have a Dhwaja Stambham in front of the temple. Temple worship starts from this point.You may see worshippers touching this pillar. Some may go around this one to three times. Devotees prostrate on the ground in front of this pillar. This symbolizes complete surrender of ones ego in veneration ofthe Lord. These are traditional ways of offering one’s respect to God.
        
        Some may place their palms and fingers of both the hands together, hold the hands around the base of Dhwaja Stambham, and meditate on God. This is a very common way of offering respect to God. When you go into the Temple, you will see more worshippers doing this. Prostrating from Dhwaja Stambha is a traditional expression of worshipful surrender and adoration.
        <br> <br>
        A traditional Hindu Temple is built based on the Agamas, which are the Holy Scriptures on temple architecture. The Agamas describe a temple as the representation of the cosmos in a miniature form. The design and construction of Hindu temples are set out in the Agama Shastras which cover a wide range of subjects.
    
        The ceremony of flying the temple flag on Dhwaja Stambha marked the inauguration of a major Utsava at the temple. The flag also served as signal to indicate to the people of the town and the visitors that an Utsava is on. The old customs required that no major domestic auspicious functions be held in the village while the templeflag is hoisted. This was perhaps to suggest that the celebrations at the temple took precedence over those athomes; and that everyone in the village should participate in the temple celebrations.
        <br> <br>
        Dhwaja Stambha is also referred to asbeing a medium for the Heavens to beconnected to the earth, which would refer to it being a spiritual connector between us earthlings and the Supreme Being, God, above.
        
        To a question, what could be the reason behind constructing a metal pillar in the precincts of the temple? Itis believed that the Dhwaja Stambha is basically an ancient lightning arrestor. Whenever lightning strikes, the metal arrestor, placed such that it is the highest point of the region, induces the charge to conduct through it. The Arrestor then conductsthe heavy electrical impulse directly to ground, thus preventing the building from getting damaged.
        
        It can be noticed that the top of the Dhwaja Stambha is the highest point of the temple, and thus, whenever lightning would strike, the temple would be saved from the devastating damage that could have been caused. This is what could be meant from the explanation that it connects “Heaven to earth” (i.e.) it conducts the charges from the clouds above during lightning to earth or ground, which is the electrical term for a no-potential area.
        <br> <br>
        Its really wonderful how our ancient Indian Hindus have incorporated this principle in order to safeguard the most important place of their social setting, the temples.
      
        In olden days, Dhwaja stambha is the tallest structure in the village, taller than any buildings. So it will safe guard the whole village from lighting. It’s also referred to as power center.</p>
    </div>
    <br><br>
    <center><h2> <strong>Book Now</strong></h2></center>