    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="slider_item-box layout_padding2">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="img-box">
                      <div>
                        <img src="images/slider2.jpg" width="200px" height="300px"  alt="" class="" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="detail-box">
                      <div>
                        <h1>
                          Jay Shree<br>
                          <span>
                            Mamadev
                          </span> <br>
                          Mukhya Sansthan<br>
                          
                        </h1>
                        <p>
                         <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt ut labore
                          -->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
            <div class="carousel-item ">
            <div class="slider_item-box layout_padding2">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="img-box">
                      <div>
                        <img src="images/Dhaja.jpg" height="300px" alt="" class="" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="detail-box">
                      <div>
                        <h1>
                          JAY SHREE<br>
                          DHODIDHAJAVALA<br>
                          <span>
                            MAMADEV
                          </span>
                        </h1>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--3rd Slider

          <div class="carousel-item ">
            <div class="slider_item-box layout_padding2">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="img-box">
                      <div>
                        <img src="images/slider-img.jpg" alt="" class="" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="detail-box">
                      <div>
                        <h1>
                          Heustonn <br>
                          Maintenance <br>
                          <span>
                            Service
                          </span>
                        </h1>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt ut labore
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->

      </div>
      <div class="container">
        <div class="slider_nav-box">
          <div class="btn-box">
            <a href="">
              Read More <hr>
            </a>
            
          </div>
          <div class="custom_carousel-control">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>
  <div class="bg">

    <!-- about section -->
    <section class="about_section layout_padding">
      <div class="container">
        <div class="custom_heading-container">
          <h3 class=" ">
            ABOUT US
          </h3>
        </div>
        <p class="layout_padding2-top">
          કળીયુગમાં હજરાજુર શ્રી મામાદેવને ભકતો પોતાના પવિત્ર કર્મો અને હૃદયની સાચી ભકિતથી પ્રસન્નશ કરી શકે છે. શ્રી મામાદેવના આશીર્વાદ મેળવી પોતાનું કલ્યાભણ સાધી શકે છે. આવા શ્રી મામાદેવ પવિત્ર વૃક્ષોમાંના એમ સમીવૃક્ષ (ખીજડો) માં બીરાજે છે
        </p>
        <div>
          <img src="images/Background1.jpg.png" height="500px" width="1000px" alt="">  <br><BR></BR>
        </div>
        <p class="layout_padding2-bottom">
          કળીયુગમાં શ્રી મામાદેવની ભકિત-પૂજા ઠેર-ઠેર થાય છે. ખુબજ બહોળા પ્રમાણમાં શ્રી મામાદેવનો ભકિત-પરિવાર પણ છે. પરંતુ મોટા ભાગના ભક્તજનોને શ્રી મામાદેવનછ ઓળખ બાબતે કે ઉત્પવતિ અંગે વિશેષ માહિતી ન હોઇ શિવપુરાણ અને સ્કંદદપુરાણના ઉલ્લે ખ મુજબ પ્રાચીનકાળમાં કનખલ ખાતે દક્ષ પ્રજાપતિ દ્વારા યોજાયેલ મહાયજ્ઞ પ્રસંગે પિતાને ત્યાં ઉપસ્થિત પુત્રી પાર્વતીજીએ જયારે યજ્ઞ પ્રસંગમાં પતિના સ્થાનને નોંધનલ આભાવ જોઇ જયારે પોતાનું બલિદાન આપે છે ત્યારે ક્રોધથી ભભૂકી ઉઠેલા ભોળાનાથે પોતાની જટાના એક પૂર્વભાગમાં થી એક અદ્દભુત વીર શક્તિને ઉત્પીન્ન કરી કે જેના થકી સમગ્ર યજ્ઞનો ધ્વંશ થયો એ વીર શકિત એટલે ભગવાન ભોળાનાથના બાળવ ગણો પૈકી એક વીરભદ્ર અને વીરમદ્ર એટલે જ શિવજીના સેનાપતિ અને કળીયુગમાં ભકતોના હજરાહજુર શ્રી મામાદેવ,

        </p>
      </div>
      
    </section>


    <!-- end about section -->

    <!-- service section -->


    <div class="container text-center">
      <div class="custom_heading-container">
        <h3 >
          OUR SOCIAL ACTIVITY
        </h3>
        <br><br> 
      </div>
      

    <br><br><br>

    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <img src="images/Cow.png" width="350px" height="300px" alt=""> <br> <br> <br>
          <h3> <strong> Cow Feeding </strong></h3>
         <p class="h5">ગાય ને લીલુ ઘાસ ગૌસડા મા અપ્પવા માં આવ છે </p>

        </div>
        <div class="col">
          <img src="images/Dog.png" width="350px" height="300px" alt=""> <br> <br> <br>
          <h3> <strong> Dog Feeding </strong></h3>
         <p class="h5"> દર અમ્માશ ના રોજ મામાદેવ ના મંદિરે સેરી ના કુતરા ના લાડવા ખાવડવા માં આવ છે </p>

        </div>
        <div class="col">
         <img src="images/fish.png" width="350px" height="300px" alt=""> <br> <br> <br>
         <h3> <strong> Fish Feeding </strong></h3>
         <p class="h5">આશાપુરા ડેમ, હાજી ડેમ મા મચલી નો લોટ ખાવડવા માં આવ છે</p>
        </div>
      </div>
    </div>
<!---->
    <section class="service_section layout_padding-bottom">
      <div class="container">
       
       
        <div class="service_container ">
          <div class="row">
            <div class="col-md-3">
              <div class="box b-1">
               
              </div>
              <br>
            </div>
            <div class="col-md-3">
              <div class="box b-2">
                
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box b-3">
              
                </div>
              </div>
            </div>
            <!--<div class="col-md-3">
              <div class="box b-4">
                <div class="img-box">
                  <img src="images/s-4.jpg" alt=""> 
                </div>
                <div class="detail-box">
                  <h6>
                    Hand Washing
                  </h6>
                  <p>
                    adipiscing elit, sed do eiusmod tempor incididunt
                  </p>
                  <div class="btn-box">
                    <a href="">
                      Read More
                    </a>
                    <hr>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end service section -->

    <!-- work section -->

    <section class="work_section layout_padding">
      <div class="container">
        <div class="custom_heading-container">
          <h3 class=" ">
            Mahant Mamadev Mandir
          </h3>
        </div>
      </div>
      <div class="work_container ">
        <div class="box b-1">
          <div class="img-box">
            <img src="images/Mayorbapu.png" width="350px" height="200px" alt="">
          </div>
          <div class="name">
            <h4>
              Mayur Bapu Desani
            </h4>
          </div>
        </div>
        <div class="box b-2">
          <div class="img-box ">
            <img src="images/Chandubapu.png" width="350px" height="200px" alt="">
          </div>
          <div class="name">
            <h4>
              Chandu Bapu Desani
            </h4>
          </div>
        </div>
       
        </div>
        
      </div>
      
    </section>


    <!-- end work section -->

    <!-- contact section -->

    <section class="contact_section layout_padding">
      <div class="custom_heading-container">
        <h3 class=" ">
          Contact Us 
        </h3>
      </div>
      <div class="container layout_padding2-top">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <form action="">
              <div>
                <input type="text" placeholder="NAME">
              </div>
              <div>
                <input type="email" placeholder="EMAIL">
              </div>
              <div>
                <input type="text" placeholder="PHONE NUMBER">
              </div>
              
              <div>
                <input type="text" class="message-box" placeholder="MESSAGE">
              </div>
              <div class="d-flex justify-content-center ">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </section>

    <!-- end contact section -->

    <section class="client_section layout_padding-bottom">
      <div class="container">
        <div class="custom_heading-container">
          <h3 class=" ">
            Mamadev na Parcha
          </h3>
        </div>
        <div class="layout_padding2-top">
          <div class="client_container">
            <div class="detail-box">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              </p>
            </div>
            <div class="client_id">
              <div class="img-box">
                <img src="images/client.png" alt="">
              </div>
              <div class="name">
                <h5>
                  Pramodbhai Wadel
                </h5>
                <h6>
                  Mumbai
                </h6>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>

    gerger
