<br><br><br>

<div class="boxborder container" >
<div class="gallery">
  <img src="images/Background2.jpg" width="400px" height="300px" alt="" srcset="" class="imghover">
  <img src="images/Background.jpg" width="400px" height="300px" alt="" srcset="">
  <img src="images/Background3.jpg" width="400px" height="300px" alt="" srcset="">
  <img src="images/Background4.jpg" width="400px" height="300px" alt="" srcset="">
  <img src="images/Background5.jpg" width="400px" height="300px" alt="" srcset="">
  <img src="images/Background6.jpg" width="400px" height="300px" alt="" srcset="">
  <img class="img-thumbnail" src="images/mama.jpg"  width="400px" height="300px" >
  <img src="images/Dhaja.jpg"  width="400px" height="300px" >
  <img src="images/Cow.png" class="rounded float-start"  width="400px" height="300px" >
  <img src="images/Jamadvar.jpg" class="rounded float-end"  width="400px" height="300px">
  <img src="images/Jamadvar3.jpg.png"  width="400px" height="300px">
      <img src="images/1.jpg"  width="400px" height="300px">
      <img src="images/slider2.jpg"  width="400px" height="300px">
      <img src="images/Background8.jpg"  width="400px" height="300px">
  <img>
  <!-- etc. -->
</div>
</div>