<br><br><br><br>
<!-- service section -->
    <div class="custom_heading-container">
      <h3 class=" ">
        OUR ACTIVITYs
      </h3>
    </div>

<br><br><br><br>
<div class="container text-center">
  <div class="row">
    <br><br><br>
    <div class="col">
      <img src="images/Jamadavar2.png" width="700px" height="380px" alt="">
    </div>
    <div class="col"> <br><br><br>
      <h1 class="text-center"><strong>Batuk Bhojan</strong></h1>
      <p  align-text="justify">
        Donating to the needy not just benefits the recipient, it also benefits the donor in improving the physical, psychological, emotional and spiritual well-being. However, you need to do your research about the charitable organizations that share the same interest as yours.
      </p>
    </div>
  </div> <br><br><br><br>

  <div class="container text-center">
    <div class="row">
      <div class="col"><br><br><br><br>
        <h1 class="text-center"><strong>Cow Feeding</strong></h1>
        <p>ગાય ને લીલુ ઘાસ ગૌસડા મા અપ્પવા માં આવ છે</p>
      </div>
      <div class="col">
        <img src="images/Cow.png" width="700px" height="380px" alt="" srcset="">
      </div>
    </div>
  </div>
    <br><br><br><br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="images/Dog.png" width="700px" height="380px" alt="" srcset="">
        
      </div>
      <div class="col"><br><br><br><br>
        <h1 class="text-center"><strong>Dog Feeding</strong></h1>
        <p>દર અમ્માશ ના રોજ મામાદેવ ના મંદિરે સેરી ના કુતરા ના લાડવા ખાવડવા માં આવ છે</p>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div class="container text-center">
    <div class="row">
      <div class="col"><br><br><br><br>
        <h1 class="text-center"><strong>Fish Feeding</strong></h1>
        <p>આશાપુરા ડેમ, હાજી ડેમ મા મચલી નો લોટ ખાવડવા માં આવ છે</p>
      </div>
      <div class="col">
      
        <img src="images/fish.png" width="700px" height="380px" alt="" srcset="">
        
      </div>
    </div>
  </div>
  <br><br><br><br>
</div>
